body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .title {
    display: flex;
    align-items: center;
}

.header .title h1 {
    font-size: 2.4em;
    margin-right: 10px;
}

.header img {
    width: 50px;
    height: 50px;
}

.header .menus {
}

.header .menus span {
    margin: 0 10px;
    font-size: 1.3em;
    padding: 5px 10px;
}

.header .menus span:hover {
    border: 1px solid black;
    padding: 5px 9px;
}

.main {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.main div {
    width: 50%;
    min-width: 500px;
    /* border: 1px solid blue; */
}

.main > div > h2 {
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 1.5em;
    padding-left: 10px;
    margin-bottom: 20px;
}

.main div li {
    list-style: none;
    font-size: 1.7em;
    margin-top: 10px;
}

.main div li span:last-child:hover {
    text-decoration: underline;
}

.footer {
}
