body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 3em;
    margin-right: 10px;
}

.header img {
    width: 50px;
    height: 50px;
}

.main {
}

.main div {
}

.main div li {
    list-style: none;
    font-size: 1.7em;
}

.footer {
}
