body {
    width: 300px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.header img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.header h2 {
    font-weight: 400;
    margin: 13px 5px 13px 10px;
}

.main {
    transition: all 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main h3 {
    font-weight: 400;
    text-align: center;
    margin: 15px 0 5px 0;
}

.main .word-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.main .word-list li {
    display: inline-block;
    list-style: none;
    font-weight: 200;
    font-size: 1.3em;
    margin: 5px 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    transition: all 0.2s;
    margin: 5px 5px;
}

.footer img {
    width: 15px;
    height: 15px;
}

.footer a {
    text-decoration: none;
    color: black;
    margin-right: 3px;
}

.footer a:hover {
    text-decoration: underline;
}
